.explorer {
  display: flex;
  flex-wrap: wrap;
}

.explorer__error {
  text-align: center;
}

.explorer__main {
  padding: 1rem;
  width: calc(100% - 500px);
}

.explorer__sidebar {
  width: 500px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1090px) {
  .explorer__sidebar {
    display: none;
  }

  .explorer__main {
    width: 100%;
  }
}

.explorer__filter {
  padding: 1rem 1rem 2rem;
}

.explorer__side-bar-footer {
  padding-left: calc(30% - 1px);
  background-color: var(--pcdc-color__primary);
}

.explorer__version-info-area {
  background-color: white;
  padding: 2rem 1rem 2rem;
  border-left: 1px solid var(--g3-color__smoke);
  border-right: 1px solid var(--g3-color__smoke);
}

.explorer__version-info > span {
  font-style: italic;
}

/* Medium screen and less */
@media screen and (max-width: 1090px) {
  .explorer__sidebar {
    overflow: inherit;
  }

  .explorer__filter,
  .explorer__version-info-area {
    display: none;
  }
}
