.explorer-select {
  width: 100%;
  display: flex;
  background-color: var(--pcdc-color__primary);
  align-items: center;
}

.explorer-select__title {
  color: var(--g3-color__white);
  padding-right: 1rem;
}

.explorer-select__options-container {
  width: 100%;
  padding-right: 1rem;
}
