.explorer-table-one {
  background-color: var(--g3-color__white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  padding: 12px 12px 5rem;
}

.explorer-table-one__column-left {
  display: flex;
  flex-grow: 1;
  max-width: 600px;
}
.explorer-table-one__column-right {
  flex-grow: 1;
  max-width: 600px;
}

@media screen and (max-width: 1090px) {
  .explorer-table-one {
    padding-bottom: 5rem;
  }
  .explorer-table-one__button-group {
    padding-left: 0;
    padding-bottom: 4rem;
    justify-content: center;
  }
}

/* Medium screen and less */
@media screen and (max-width: 1023px) {
  .explorer-table-one__column-left,
  .explorer-table-one__column-right {
    min-width: 100%;
    max-width: auto;
  }
}
