h2 {
  margin-left: 20px;
  margin-top: 20px;
}

#expire-message-hide {
  position: relative;
  top: 50px;
  left: 1000px;
  padding: 10px;
}

.message_center_container {
  margin-left: 20px;
  margin-top: 20px;
  width: 95%;
  border-collapse: collapse;
}

.message-row {
  border-bottom: 1px solid #dedede;
  background-color: #ffffff;
  color: var(--g3-color__gray);
  height: 60px;
  display: flex;
  width: 100%;
}

th {
  font-size: 20px;
  color: black;
  text-align: left;
  padding: 8px;
  padding-left: 20px;
  border-bottom: 2px solid black;
}

.row-content {
  border-bottom: 1px solid #dedede;
  padding: 30px;
}

.more-close-button {
  color: #155f82;
  border: none;
  text-decoration: underline;
  background: none !important;
  cursor: pointer;
}

.more-close-button:focus,
.more-close-button:active,
.more-close-button:hover {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

td {
  border-bottom: 1px solid #dedede;
  color: var(--g3-color__gray);
  height: 60px;
  font-size: 14px;
}

.message-box {
  padding: 8px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dedede;
}
