.explorer-explore-external__loading {
  margin-top: -5.5rem;
}

.explorer-explore-external__button {
  margin-right: 10px;
}

.explorer-explore-external__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explorer-explore-external__download-manifest {
  margin: 0 1rem 1rem;
}

.explorer-explore-external__download-manifest > p:first-child {
  margin-bottom: 0.5rem;
}

.explorer-explore-external__download-manifest
  > p:first-child
  > svg:first-child {
  margin-right: 0.25rem;
}

.explorer-explore-external__idc-code {
  margin: 0 1rem 1rem;
  text-align: left;
}

.explorer-explore-external__idc-code-text {
  box-sizing: border-box;
  width: 100%;
  min-height: 18rem;
  max-height: 24rem;
  margin-bottom: 0.75rem;
  overflow: auto;
  resize: vertical;
  font-family: monospace;
  white-space: pre;
}

.no-data-info {
  margin-bottom: 2rem;
}
