.dashboard {
  display: flex;
  height: calc(100vh - 121px);
}

.dashboard__main {
  height: 100%;
  overflow-y: scroll;
}

.dashboard__sidebar {
  height: 100%;
  overflow-y: scroll;
}

/* Medium screen and less */
@media screen and (max-width: 1090px) {
  .dashboard {
    flex-wrap: wrap;
    height: 100vh;
  }

  .dashboard__main {
    width: 100%;
  }

  .dashboard__sidebar {
    height: auto;
    width: 100%;
  }
}
